body{
  background-color: #00e482;
}

.lightblue{
  background-color: #0675e1;
  padding: 10px;
  margin: 1px;
  border: 1px;
  border-color: #4F98DE;
  width: 50%;
}

.shift{
  margin: 10px;
  padding: 10px;
  font-family: serif;
}

nav ul li{
  list-style: none;
  margin-top: 20px;
}

ul li{
  list-style: none;
}

ol li{
  list-style-type: lower-roman;
}

.col-sm-2{
  height:100vh;
  background-color: #ff804e;
  text-decoration: none;
  text-align: left;
  /*margin-top: -20px;*/
}

img{
  width: 25%;
}

.float{
  float: right;
  margin: 4px;
}

#diver{
  position: relative;
  float: right;
  width: 30%;
}

#monitor{
  position:relative;
  float:right;
}

#porfolio{
  list-style: none;
  text-decoration: none;
}

.bluebox{
  background-color: #0675e1 !important;
  width: 30%;
  margin-left: 10px;

}
