body{
  background-color: #00e482;
}

.lightblue{
  background-color: #0675e1;
  padding: 10px;
  margin: 1px;
  border: 1px;
  border-color: #4F98DE;
}

nav ul li{
  list-style: none;
}

ul li{
  list-style: none;
}

ol li{
  list-style-type: lower-roman;
}

.col-sm-2{
  height:100vh;
  background-color: #ff804e;
  text-decoration: none;
  text-align: left;
  /*margin-top: -20px;*/
}

img{
  width: 25%;
}

#diver{
  position: relative;
  width: 30%;
  left: 25%;
}

#monitor{
  position: relative;
  bottom:60%;
  left: 40%;
}

#porfolio{
  list-style: none;
  text-decoration: none;
}

.bluebox{
  background-color: 0675e1 !important;
}
