body{
  background-color: #00e482;
}

nav{
  background-color: #ff804e;
  width:9%;
  height: vh;
}

.icon{

}

img{
  width: 25%;
}

#diver{
  position: relative;
}

#monitory{

}

#porfolio{
  list-style: none;
  text-decoration: none;
}

.scale{
  width: 30%;
}

#lightblue{
  padding: ;
}

#bluebox{
  background-color: 0675e1;
}
